@model IEnumerable<Job_Offers_Website.Models.Job>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="panel panel-default" style="padding:15px;">
        <h1 class="panel-heading">نتائج البحث</h1>
        <div class="row">

            @foreach (var subItem in Model)
            {
                <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:30px; height:380px;">
                    <img src="~/Uploads/@subItem.JobImage" />
                    <h3>@Html.DisplayFor(modelItem => subItem.JobTitle)</h3>
                    <h5>@Html.DisplayFor(modelItem => subItem.JobContent)</h5>
                    @Html.ActionLink("التفاصيل", "Details", new { JobId = subItem.Id }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>
    </div>
